<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <div class="main">
      <a href="https://github.com/login/oauth/authorize?client_id=<%= ENV["CLIENT_ID"] %>&scope=repo">Login with GitHub</a><br>
      <a href="#">Login with LinkedIn</a><br>
    </div>

    <%= form_tag("/comments", method: :post, class: "comment-form") do %>
      <%= text_area_tag :body, nil, placeholder: "Got a comment?", size: "48x4" %><br>
      <%= submit_tag "Post", class: "button" %>
    <% end %>

    <div class="comments">
      <% @comments.each do |comment| %>
        <li class="comment">
          <div>
            <%= image_tag comment.author.avatar_url, style: "width: 40px; border-radius: 50%; padding: 5px;" %>
          </div>
          <ul class="comment-author">
            <%= comment.author.username %>
          </ul>
          <div class="comment-badge">
            <% current_user.oauths.order(:provider).each do |oauth| %>
            <a href="<%= oauth.url %>" target="_blank">
              <i class="fa fa-<%= oauth.provider %>"></i>
            </a>
            <% end %>
          </div>
          <%= comment.body %>
          <div class="comment-create">
            <%= comment.created_at.strftime("%m/%d/%Y") %>
          </div>
      <% end %>
      </li>
    </div>
  </body>
</html>
