<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <sidebar>
      <div class="logo">
        <a href="/index"><img src="/assets/d20.gif" style="width:50px;height:50px"></a>
      </div>
      <div class="menu">
        <a href="/">
          <i class="fa fa-home"></i>
        </a>
        <a href="/about-me">
          <i class="fa fa-user"></i>
        </a>
        <a href="/open-ai">
          <i class="fa fa-android"></i>
        </a>
        <a href="/contact">
          <i class="fa fa-phone"></i>
        </a>
      </div>
    </sidebar>
    
    <%= yield %>
  </body>
</html>
