<!DOCTYPE html>
<html>
  <head>
    <title>DavidTTran</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <img src="/assets/d20.gif" id="background-image"></img>
    <sidebar>
      <div class="logo">
        <a href="/index"><img src="/assets/d20.gif" style="width:50px;height:50px"></a>
      </div>
      <div class="menu">
        <a href="/">
          <i class="fa fa-home"></i>
        </a>
        <a href="/about">
          <i class="fa fa-user"></i>
        </a>
        <a href="/openai">
          <i class="fa fa-android"></i>
        </a>
        <a href="/contact">
          <i class="fa fa-phone"></i>
        </a>
      </div>
    </sidebar>
    <%= yield %>
  </body>
</html>
